body,html{
   height: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 180%;
   color:#444;
   text-align: center;
}
.foto1{
   background-image: url('https://cdn.pixabay.com/photo/2018/06/09/17/25/trees-3464777_1280.jpg');
   min-height: 100%;
}
.foto2{
   background-image: url('https://cdn.pixabay.com/photo/2014/08/15/11/29/beach-418742_640.jpg');
   min-height: 60%;
}
.foto3{
   background-image: url('https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_640.jpg');
   min-height: 40%;
}
.foto4{
   background-image: url('https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_640.jpg');
   min-height: 100%;
}
.foto1, .foto2, .foto3, .foto4{
   position: relative;
   opacity: 0.75;
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.letrero{
   color: aliceblue;
   font-size: 550%;
   position: absolute;
   top:50%;
}
.letrero2{
   color:#c73256;
   font-size: 450%;
   top: 57%;
}
.letrero3{
   color:#c73256;
   font-size: 350%;
   top:64%;
}
.letrero4{
   color:#fff;
   font-size:250%;
   top:45%;
}
.letrero,.letrero2,.letrero3,.letrero4{
   position: absolute;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 8px;
   text-shadow:0 0 10px #000;
}
section{
   padding: 50px 80px;
}
.dark{
   background-color: #444;
   color:#fff;
}
@media(max-width: 768px){
   .letrero{
      font-size: 300%;
   }
   .letrero2{
      font-size: 150%;
   }
   .letrero3{
      font-size: 200%;
   }
   
}